# --- Azure
TON_KEY=
TON_ENDPOINT=

# --- db
# mssql+pyodbc://<username>:<password>@<server>.database.windows.net/<database>?driver=ODBC+Driver+18+for+SQL+Server
DATABASE_URL=
DB_USER_env=
DB_PASSWORD_env=